<ng-container>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <app-map [markers]="sellingPoints"></app-map>
                </div>
                <div class="row">
                    <app-calendar></app-calendar>
                </div>
            </div>
            <div class="col-md-6">
                <app-find-us-panel></app-find-us-panel>
            </div>
        </div>
    </div>
</ng-container>
