<div class="row logo-strip">
    <div class="col"></div>
    <div class="col">
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <img src="/assets/images/landing/logo-strip/concours-agricole.svg">
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <img src="/assets/images/landing/logo-strip/ruche.svg">
            </div>
            <div class="col"></div>
        </div>
    </div>

</div>
