.brown-border {
  border: solid var(--my-brown);
  padding: 15px;
  height: 100%;

  h4 {
    color: var(--my-brown);
  }
  p {
    color: var(--my-dark);
  }
}

.brown-border:hover {
  background: var(--my-brown);

  h4, p{
    color: var(--my-white);
  }

}

.title {
  align-content: center;
  text-align: center;
  width: 100%;
}

img {
  margin: 20px;
}



