nav {
  position: sticky;
  width: 100%;
  text-align: right;
  background-color: #090909;
}

.wrapper {
  height: 20%; margin: 0 auto;
  white-space: nowrap;
}


.logo {
  height: 100px;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav .dropdown-menu {
  float: right;
}
