nav {
  position: sticky;
  width: 100%;
  text-align: right;
}

.banner {
  top: 50px;
  color: white;
}

.logo {
  height: 100px;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav .dropdown-menu {
  float: right;
}
