<div class="row">
    <div class="col-md-5 text-col">
        <h2>Éleveur Sélectionneur</h2>
        <div class="txt">
            Naisseur, sélectionneur d'agneau Bleu du Maine élevés dans les prés du bocage Mayennais et supplémenté en " Mash Embouché ", produit naturel comprenant : céréales, pulpes
            de betterave, radicelles d'Orge, Luzerne et pour leur bien être en "extrulin" :
            produit naturel riche en Oméga3.
        </div>
    </div>
    <div class="col-md-9">
        <!--div class="img"></div-->
        <img src="/assets/images/landing/lamb.jpg">
    </div>
</div>
