<div class="calendar">
<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
    >{{ day.badgeTotal }}</span
    >
        <span class="cal-day-number"
        >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
        >
    </div>
    <small style="margin: 5px;"> </small>
</ng-template>

<div [ngSwitch]="view">
    <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            [activeDayIsOpen]="false"
            [cellTemplate]="customCellTemplate"
            (eventClicked)="eventClicked($event)"
            [weekStartsOn]="1"
            [weekendDays]="[0]"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="events"
            (eventClicked)="eventClicked($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="events"
            (eventClicked)="eventClicked($event)"
    >
    </mwl-calendar-day-view>
</div>
</div>
