.text-col {
  margin-right: -17%;
  margin-top: auto;
  margin-bottom: auto;
}

img {
  z-index: -1;
  position: relative;
  width: 100%;
}

.txt {
  background-color: var(--my-white);
  padding: 50px;
  z-index: 1;
  margin: 15px;
}
